<p>test works!</p>
{{class}}
<div [style.background-color]="color" >
  msg
</div>

<input type="text"[(ngModel)]="color">
{{color}}

<div *ngFor="let p of Products">

  {{p.id}}
  {{p.like}}
  {{p.price}}
  {{p.quantity}}
  <div *ngIf="p.quantity==0">
 <input type="submit" value="buy">
  </div>
  <input type="submit" value="buy" [disabled]="p.quantity==0">
  <input type="submit" value="like">

</div>
--------------------------------------------------
<div *ngFor="let p of Products">
  <div *ngIf="p.quantity>0" [style.background-color]="'green'">
  {{p.id}}
  {{p.like}}
  {{p.price}}
  {{p.quantity}}
  </div>
  <div *ngIf="p.quantity==0" [style.background-color]="'red'">
    {{p.id}}
    {{p.like}}
    {{p.price}}
    {{p.quantity}}
  </div>
</div>
<h1>ngStyle</h1>

<div *ngFor="let p of Products">
  <div  [ngStyle]="{'background-color':p.quantity>0?'green':'red'}" >
    {{p.id}}
    {{p.like}}
    {{p.price}}
    {{p.quantity}}
  </div>
  <a [routerLink]="['/detail/',p.id]">detail</a>
</div>
